In [1]:
import pandas as pd

# open base tables
deaths = pd.read_csv('../Data/covid_deaths_usafacts.csv')
cases = pd.read_csv('../Data/covid_confirmed_usafacts.csv')
population = pd.read_csv('../Data/covid_county_population_usafacts.csv')

# clean up dates in deaths and cases
deaths.rename(columns={col: 'deaths ' + col for col in deaths.columns[4:]}, inplace=True)
cases.rename(columns={col: 'cases ' + col for col in cases.columns[4:]}, inplace=True)
deaths['County Name'] = deaths['County Name'].str.strip()
cases['County Name'] = cases['County Name'].str.strip()

# perform merges
joined = pd.merge(cases, deaths)
joined = pd.merge(joined, population)

# save the merged data in Data directory
joined.to_csv('../Data/base_set_joined.csv', index=False)

joined

,countyFIPS,County Name,State,StateFIPS,cases 2020-01-22,cases 2020-01-23,cases 2020-01-24,cases 2020-01-25,cases 2020-01-26,cases 2020-01-27,...,deaths 2023-01-08,deaths 2023-01-09,deaths 2023-01-10,deaths 2023-01-11,deaths 2023-01-12,deaths 2023-01-13,deaths 2023-01-14,deaths 2023-01-15,deaths 2023-01-16,population
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,230,230,230,230,230,230,230,230,230,55869
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,719,719,719,719,721,721,721,721,721,223234
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,103,103,103,103,103,103,103,103,103,24686
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,108,108,108,108,108,108,108,108,108,22394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3130,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,136,136,136,136,136,136,136,136,136,42343
3131,56039,Teton County,WY,56,0,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,23464
3132,56041,Uinta County,WY,56,0,0,0,0,0,0,...,43,43,43,43,43,43,43,43,43,20226
3133,56043,Washakie County,WY,56,0,0,0,0,0,0,...,47,47,47,47,47,47,47,47,47,7805
3134,56045,Weston County,WY,56,0,0,0,0,0,0,...,22,22,22,22,22,22,22,22,22,6927